{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="page-header">Lista de Agendamentos</h1>
        <form method="GET" action="{{ url_for('listar_agendamentos') }}" class="mb-3">
        <div class="form-group">
            <label for="colaborador_id">Filtrar por Atendente:</label>
            <select name="colaborador_id" id="colaborador_id" class="form-control">
                <option value="">Todos os Atendentes</option>
                {% for colaborador in colaboradores %}
                    <option value="{{ colaborador.id }}" {% if colaborador_id == colaborador.id %}selected{% endif %}>{{ colaborador.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    {% if agendamentos %}
        <ul class="list-group">
            {% for agendamento in agendamentos %}
                <li class="list-group-item">
                    <strong>Cliente:</strong> {{ agendamento.cliente }}<br>
                    <strong>Tipo de Serviço:</strong> {{ agendamento.tipo_servico }}<br>
                    <strong>Horário:</strong> {{ agendamento.horario.strftime('%Y-%m-%d %H:%M') }}<br>
                    <strong>Atendente:</strong> {{ agendamento.colaborador.nome }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há agendamentos para exibir.</p>
    {% endif %}
</div>
{% endblock %}