{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="page-header">Lista de Agendamentos</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
        <form method="GET" action="{{ url_for('listar_agendamentos') }}" class="mb-3">
        {% if current_user.role == colaborador %}
        <div class="form-group">
            <label for="colaborador_id">Filtrar por Atendente:</label>
            <select name="colaborador_id" id="colaborador_id" class="form-control">
                <option value="">Todos os Atendentes</option>
                {% for colaborador in colaboradores %}
                    <option value="{{ colaborador.id }}" {% if colaborador_id == colaborador.id %}selected{% endif %}>{{ colaborador.nome }}</option>
                {% endfor %}
            </select>
        </div>
        {%endif%}
        <div class="form-group">
            <label for="data_inicial">Data Inicial:</label>
            <input type="date" id="data_inicial" name="data_inicial" class="form-control" 
                   value="{{ data_inicial }}">
        </div>
        <div class="form-group">
            <label for="data_final">Data Final:</label>
            <input type="date" id="data_final" name="data_final" class="form-control" 
                   value="{{ data_final }}">
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    {% if agendamentos %}
        <ul class="list-group">
            {% for agendamento in agendamentos %}
                <li class="list-group-item">
                    {% if current_user.role == 'colaborador' %}
                    <strong>Cliente:</strong> {{ agendamento.cliente_id }}<br>
                    {%endif%}
                    <strong>Tipo de Serviço:</strong> {{ agendamento.tipo_servico }}<br>
                    <strong>Horário:</strong> {{ agendamento.horario.strftime('%Y-%m-%d %H:%M') }}<br>
                    <strong>Atendente:</strong> {{ agendamento.colaborador.nome }}<br>
                    <a href="{{ url_for('edit_agendamento', id=agendamento.id) }}" class="btn btn-warning btn-sm">
                        Editar
                    </a>
                    <form action="{{ url_for('del_agendamento', id=agendamento.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há agendamentos para exibir.</p>
    {% endif %}
</div>
{% endblock %}