<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/perfil.css">

    <title>
        Raio de Sol - Perfil
    </title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-1">
                <a href="/">
                    <img class="logo" src="../static/midias/Logo3.png" alt="Logo do Petshop Raio de Sol">
                </a>
            </div>
            <div class="nav-2">
                <button class="nav-btn nav-btn-1" onclick="openModal()">
                    Entrar
                </button>
                <a href="/cadastro">
                    <button class="nav-btn nav-btn-2">
                        Cadastrar
                    </button>
                </a>
                <a href="/pets">
                    <button class="nav-btn nav-btn-3">
                        Pets
                    </button>
                </a>
                <a href="./estoque.html">
                    <button class="nav-btn nav-btn-4">
                        Estoque
                    </button>
                </a>
                <a href="/agendar">
                    <button class="nav-btn nav-btn-5">
                        Agendar
                    </button>
                </a>
                <a href="/perfil">
                    <button class="nav-btn nav-btn-6">
                        Perfil
                    </button>
                </a>
                <button class="nav-btn nav-btn-7">
                    Sair
                </button>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="div-central">
            <div class="div-titulo">
                <h2 class="titulo-perfil">Perfil</h2>
            </div>
            <div class="div-perfil">
                <div class="perfil-1">
                    <input type="text" value="Gabriel Rodrigues de Carvalho" class="nome">
                    <input type="text" value="141.245.796-32" class="cpf">
                </div>
                <div class="perfil-2">
                    <input type="text" value="(35) 9 8714-6279" class="cel">
                    <input type="text" value="gabrielrc2004@gmail.com" class="email">
                </div>
                <div class="perfil-3">
                    <input type="text" value="Rua Frei Gabriel Zimmer" class="rua">
                    <input type="text" value="85" class="numero">
                </div>
                <div class="perfil-4">
                    <input type="text" value="Vila Nova" class="bairro">
                    <input type="text" value="Blumenau" class="cidade">
                </div>
            </div>
            <button class="btn-salvar">Salvar</button>
        </div>
    </main>
    <div>
        <a href="/" class="footer-logo">
            <img src="../static/midias/Logo3.png" alt="Logo do Petshop Raio de Sol" class="logo-footer">
        </a>
    </div>
    <footer>
        <div class="div-footer">
            <div class="titulo-footer titulo-1">
                <img class="icone-footer" src="../static/midias/localizacao.png" alt="Icone de localização">
                <h2 class="h2-footer">Localização</h2>
            </div>
            <div class="conteudo-footer">
                <h3 class="h3-footer">
                    Rua São Paulo, n°1629 <br> <br> Itoupava Seca, Blumenau - SC <br> <br> CEP: 89030-001
                </h3>
            </div>
        </div>
        <div class="div-footer">
            <div class="titulo-footer titulo-2">
                <img class="icone-footer" src="../static/midias/contato.png" alt="Icone de contato">
                <h2 class="h2-footer">Contatos</h2>
            </div>
            <div class="conteudo-footer">
                <h3 class="h3-footer">
                    (47) 3036-5490 <br> <br> (47) 98761-9632 <br> <br> omelhorpetshop@raiodesol.com
                </h3>
            </div>
        </div>
        <div class="div-footer">
            <div class="titulo-footer titulo-3">
                <img class="icone-footer" src="../static/midias/atendimento.png" alt="Icone de horário">
                <h2 class="h2-footer">Atendimento</h2>
            </div>
            <div class="conteudo-footer">
                <h3 class="h3-footer">
                    De segunda a sexta: <br> 9:00 às 18:00 <br>
                    <br> Aos Sábados: <br> 8:00 às 15:00
                </h3>
            </div>
        </div>
    </footer>
</body>

</html>