@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #e6ffff;
    font-family: "Lato", sans-serif;
}



.header {
    box-shadow: 0px 5px 5px -3px black;
    background-color: #ffff66;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.nav-1 {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.nav-2 {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.logo {
    width: 220px;
    height: auto;
}

.nav-btn {
    margin-top: 15px;
    padding: 6px 0px 6px 0px;
    border-radius: 10px;
    border: 1px solid black;
    width: 150px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffff66;
    color: black;
    transition: 0.2s all;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #e6ffff;
}

.nav-btn-1, .nav-btn-2, .nav-btn-4 {
    display: none;
}

.nav-btn-3, .nav-btn-5, .nav-btn-6 {
    margin-right: 30px;
}

main {
    font-family: "Lato", sans-serif;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffff66;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: -8px;
    font-size: 17px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    appearance: none; 
    background-color: #fff;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    position: relative;
    cursor: pointer; 
}

button {
    background-color: #ffff66;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s all;
}

button:hover {
    background-color: #42b948;
}

footer {
    display: flex;
    background-color: #ffff66;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.logo-footer {
    width: 150px;
    background-color: #ffff66;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.div-footer {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.titulo-footer {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 20px;
}

.titulo-1 {
    margin-left: 55px;
}

.titulo-2 {
    margin-left: 45px;
}

.titulo-3 {
    margin-left: 95px;
}

.icone-footer {
   width: 30px;
   height: auto;
   margin-right: 15px;
}

.h2-footer {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.conteudo-footer {
    display: flex;
    justify-content: center;
}

.h3-footer {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}